form div.input {
  margin: 0 0 5px 0; }
  form div.input label {
    font-weight: normal; }
  form div.input select {
    width: 100%;
    border: 1px solid #cccccc;
    margin: 0.2em 0; }

form#search_form ol {
  margin: 0;
  padding: 0;
  list-style: none; }
  form#search_form ol li {
    padding: 2px 0;
    overflow: hidden; }
    form#search_form ol li label {
      font-weight: normal; }
      form#search_form ol li label span {
        font-size: 0.9em;
        padding: 0 0 0 3px; }
      form#search_form ol li label abbr {
        color: #999999;
        padding-left: 2px; }
    form#search_form ol li input {
      padding: 2px;
      font-size: 1.1em; }
    form#search_form ol li textarea {
      float: none;
      clear: both;
      border: 1px solid #cccccc; }
    form#search_form ol li.numeric, form#search_form ol li.string, form#search_form ol li.boolean {
      float: none;
      clear: both;
      overflow: hidden;
      padding: 6px 3px;
      border-top: 1px solid #f0f0f0; }
    form#search_form ol li.numeric label, form#search_form ol li.string label {
      float: left;
      display: block;
      width: 200px; }
    form#search_form ol li.numeric input, form#search_form ol li.string input {
      float: left;
      width: 330px; }
form#search_form input.refresh {
  outline: none;
  margin: 0 0 0 5px;
  display: block;
  width: 23px;
  height: 23px;
  text-indent: -10000px;
  border: none;
  background: transparent url(../../images/widgets/refresh.png) no-repeat left top;
  cursor: pointer; }
  form#search_form input.refresh:hover {
    background-position: left -23px; }

form.formtastic abbr, form.formtastic acronym {
  border: 0 none;
  font-variant: normal;
  padding-left: 3px;
  color: #006db7; }
form.formtastic.standard fieldset {
  display: block; }
  form.formtastic.standard fieldset.inputs ol li {
    width: 100%;
    display: block;
    border-bottom: 1px solid #cccccc;
    padding: 6px 3px;
    margin: 0; }
    form.formtastic.standard fieldset.inputs ol li:hover {
      background-color: #f0f0f0; }
    form.formtastic.standard fieldset.inputs ol li label {
      font-weight: normal;
      width: 180px;
      padding: 0 0 0 3px; }
    form.formtastic.standard fieldset.inputs ol li.string input, form.formtastic.standard fieldset.inputs ol li.numeric input, form.formtastic.standard fieldset.inputs ol li.password input {
      width: 394px;
      padding: 4px 4px;
      outline: none;
      font-size: 1.1em; }
    form.formtastic.standard fieldset.inputs ol li.hidden {
      display: none; }
    form.formtastic.standard fieldset.inputs ol li.select select {
      width: 400px;
      outline: none; }
    form.formtastic.standard fieldset.inputs ol li.boolean {
      margin: 0; }
      form.formtastic.standard fieldset.inputs ol li.boolean label {
        width: auto;
        padding-left: 188px; }
    form.formtastic.standard fieldset.inputs ol li.text textarea {
      width: 400px;
      height: 140px; }
    form.formtastic.standard fieldset.inputs ol li.error {
      background: none;
      border: none;
      border-bottom: 1px solid #cccccc; }
      form.formtastic.standard fieldset.inputs ol li.error.string input, form.formtastic.standard fieldset.inputs ol li.error.string textarea, form.formtastic.standard fieldset.inputs ol li.error.numeric input, form.formtastic.standard fieldset.inputs ol li.error.numeric textarea, form.formtastic.standard fieldset.inputs ol li.error.password input, form.formtastic.standard fieldset.inputs ol li.error.password textarea, form.formtastic.standard fieldset.inputs ol li.error.text input, form.formtastic.standard fieldset.inputs ol li.error.text textarea {
        border: 2px solid black;
        border-color: #a01a00; }
      form.formtastic.standard fieldset.inputs ol li.error label {
        font-weight: bold; }
    form.formtastic.standard fieldset.inputs ol li p.inline-errors {
      display: none;
      margin: 0;
      margin-left: 188px;
      color: #a01a00; }
  form.formtastic.standard fieldset.buttons {
    margin: 15px 0 0 0;
    border: none;
    padding-left: 188px; }
form.formtastic.sidebar fieldset.inputs ol li {
  border: none !important;
  padding: 5px 0; }
  form.formtastic.sidebar fieldset.inputs ol li.string input, form.formtastic.sidebar fieldset.inputs ol li.numeric input, form.formtastic.sidebar fieldset.inputs ol li.password input {
    width: 290px; }
  form.formtastic.sidebar fieldset.inputs ol li:hover {
    background: none; }
form.formtastic.sidebar fieldset.buttons {
  margin: 5px 0 0 0;
  padding-left: 0; }
  form.formtastic.sidebar fieldset.buttons ol li input {
    border: 1px solid black;
    border-color: #9f0b00;
    background-color: #c12d00;
    color: white;
    padding: 3px 5px; }

div.errorExplanation {
  border: 1px solid black;
  border-color: #a01a00;
  padding: 15px;
  margin: 0 0 10px 0;
  background-color: #f9ddd9; }
  div.errorExplanation h2 {
    color: #a01a00;
    margin: 0 0 10px 0;
    padding: 0; }
  div.errorExplanation ul {
    list-style-type: disc;
    margin: 0 0 0 15px; }
    div.errorExplanation ul li {
      color: #a01a00;
      padding: 3px; }

label {
  cursor: pointer; }

form.filter {
  float: none;
  clear: both;
  overflow: hidden;
  margin: 0 0 20px 0; }
  form.filter input.text {
    font-size: 1.1em;
    padding: 5px;
    margin: 0 6px 0 0;
    width: 230px;
    border: 1px solid #cccccc;
    float: left; }
    form.filter input.text.weak, form.filter input.text.watermark {
      color: #999999; }
  form.filter input.submit {
    font-size: 1.1em !important;
    border: 1px solid black !important;
    border-color: #005ca6 !important;
    background-color: #006db7 !important;
    color: white !important;
    padding: 4px 6px !important;
    float: left !important;
    cursor: hand; }

div#sidebar_login_form {
  margin: 0 0 20px 0; }

a {
  outline: none; }

div#words_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px; }
  div#words_container div#words {
    width: 20000em;
    position: absolute;
    clear: both; }
    div#words_container div#words div.word_container {
      float: left; }
      div#words_container div#words div.word_container a.word {
        font-size: 48px;
        text-decoration: none; }
        div#words_container div#words div.word_container a.word.odd {
          color: #cccccc; }
        div#words_container div#words div.word_container a.word.even {
          color: #333333; }
      div#words_container div#words div.word_container div.info {
        float: none;
        clear: both;
        margin-left: 50px; }
        div#words_container div#words div.word_container div.info a {
          text-decoration: none; }
          div#words_container div#words div.word_container div.info a span.info_pair {
            display: block;
            float: left;
            color: #666666;
            margin-right: 20px; }
            div#words_container div#words div.word_container div.info a span.info_pair span {
              float: left;
              margin-right: 2px; }
              div#words_container div#words div.word_container div.info a span.info_pair span.label {
                color: #aaaaaa; }
        div#words_container div#words div.word_container div.info a.wordnik_site {
          display: block;
          float: left;
          color: #c8b809;
          text-decoration: none;
          margin: 0 5px 0 0; }
      div#words_container div#words div.word_container div.definition {
        display: block;
        float: none;
        clear: both;
        margin: 0 0 0 50px;
        font-style: italic;
        font-size: 16px;
        color: #666666;
        width: 500px; }
        div#words_container div#words div.word_container div.definition p {
          font-size: 13px;
          margin: 0;
          padding: 0 0 5px 0; }

ul#jumper {
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 804px;
  list-style: none;
  float: none;
  clear: both;
  overflow: hidden;
  background-color: #f0f0f0;
  border: 1px solid #dddddd;
  padding: 0; }
  ul#jumper li {
    float: left;
    margin: 0;
    padding: 0;
    height: 10px; }
    ul#jumper li a {
      text-indent: 20000em;
      display: block;
      width: 1px;
      height: 100%; }
      ul#jumper li a:hover {
        background-color: #dddddd;
        width: 2px; }
      ul#jumper li a.open {
        background-color: #c8b809 !important; }
    ul#jumper li.active a {
      background-color: #990000;
      width: 2px; }
