.jScrollPaneContainer {
  position: relative;
  overflow: hidden;
  z-index: 1; }

.jScrollPaneTrack {
  position: absolute;
  cursor: pointer;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #aaaaaa; }

.jScrollIntervalTrack {
  position: absolute; }

.jScrollPaneDrag {
  position: absolute;
  background: #666666;
  cursor: pointer;
  overflow: hidden; }

.jScrollPaneDragLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden; }

.jScrollPaneDragRight {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden; }

a.jScrollArrowLeft {
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  text-indent: -2000px !important;
  overflow: hidden;
  background-color: #666666;
  height: 9px;
  width: 10px; }
  a.jScrollArrowLeft:hover {
    background-color: #ff6600; }
a.jScrollArrowRight {
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  text-indent: -2000px !important;
  overflow: hidden;
  background-color: #666666;
  height: 9px;
  width: 10px; }
  a.jScrollArrowRight:hover {
    background-color: #ff6600; }
a.jScrollActiveArrowButton {
  background-color: red; }
  a.jScrollActiveArrowButton:hover {
    background-color: red; }

body {
  font-family: Georgia;
  width: 100%;
  overflow-y: hidden; }

a {
  outline: none; }

div.intro {
  margin: 100px 0 0 20px;
  width: 600px; }
  div.intro p {
    font-size: 24px;
    color: #777777; }
    div.intro p b {
      color: black; }
    div.intro p a {
      color: #444444; }
  div.intro ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    div.intro ul li {
      font-size: 18px; }
      div.intro ul li a {
        color: #f5354c;
        text-decoration: none; }
        div.intro ul li a:hover {
          text-decoration: underline; }
  div.intro p.recent_queries {
    font-size: 14px;
    color: #777777; }
    div.intro p.recent_queries a {
      color: #555555;
      text-decoration: underline; }
      div.intro p.recent_queries a:hover {
        color: #222222; }

div#filter_summary {
  font-size: 14px;
  color: #f5354c;
  position: absolute;
  bottom: 30px;
  left: 15px;
  font-style: italic; }

div#colophon {
  font-size: 12px;
  color: #888888;
  position: absolute;
  bottom: 30px;
  right: 15px;
  font-style: italic; }
  div#colophon a {
    color: #666666; }
    div#colophon a:hover {
      color: #f5354c; }

div#words_container {
  position: relative;
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
  height: 500px;
  margin: 0;
  padding: 20px 0 0 0; }
  div#words_container div#words {
    width: 1000000px;
    position: absolute;
    clear: both; }
    div#words_container div#words div.word_container {
      float: left; }
      div#words_container div#words div.word_container:first-child {
        padding-left: 15px; }
      div#words_container div#words div.word_container:last-child {
        padding-right: 15px; }
      div#words_container div#words div.word_container a.word {
        font-size: 36px;
        text-decoration: none; }
        div#words_container div#words div.word_container a.word.odd {
          color: #cccccc; }
        div#words_container div#words div.word_container a.word.even {
          color: #333333; }
      div#words_container div#words div.word_container div.info {
        float: none;
        clear: both;
        margin-left: 50px; }
        div#words_container div#words div.word_container div.info a {
          text-decoration: none; }
          div#words_container div#words div.word_container div.info a span.info_pair {
            display: block;
            float: left;
            color: #666666;
            margin-right: 20px; }
            div#words_container div#words div.word_container div.info a span.info_pair span {
              float: left;
              margin-right: 2px; }
              div#words_container div#words div.word_container div.info a span.info_pair span.label {
                color: #aaaaaa; }
        div#words_container div#words div.word_container div.info a.wordnik_site {
          display: block;
          float: left;
          color: #f5354c;
          text-decoration: none;
          margin: 0 5px 0 0; }
      div#words_container div#words div.word_container ol.definition {
        display: block;
        float: none;
        clear: both;
        margin: 0 0 0 50px;
        padding: 10px 0 0 0;
        width: 500px;
        list-style: none; }
        div#words_container div#words div.word_container ol.definition li {
          font-style: italic;
          font-size: 13px;
          color: #555555;
          padding: 4px;
          border-bottom: 1px solid #dddddd; }
          div#words_container div#words div.word_container ol.definition li:last-child {
            border: none; }
          div#words_container div#words div.word_container ol.definition li a {
            color: #f5354c;
            font-style: italic;
            font-size: 0.9em;
            text-decoration: none; }
            div#words_container div#words div.word_container ol.definition li a:hover {
              text-decoration: underline; }

ul#jumper {
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 804px;
  list-style: none;
  float: none;
  clear: both;
  overflow: hidden;
  background-color: #f0f0f0;
  border: 1px solid #dddddd;
  padding: 0; }
  ul#jumper li {
    float: left;
    margin: 0;
    padding: 0;
    height: 10px; }
    ul#jumper li a {
      text-indent: 20000em;
      display: block;
      width: 1px;
      height: 100%; }
      ul#jumper li a:hover {
        background-color: #dddddd;
        width: 2px; }
      ul#jumper li a.open {
        background-color: #f5354c !important; }
    ul#jumper li.active a {
      background-color: #990000;
      width: 2px; }

div#header {
  width: 100%;
  background-color: #333333;
  float: none;
  clear: both;
  overflow: hidden;
  border-bottom: 8px solid black;
  border-bottom-color: #f5354c; }
  div#header form#filter {
    margin: 10px 0 10px 15px;
    float: left; }
    div#header form#filter input.text {
      border-top: 1px solid #111111;
      border-right: 1px solid #666666;
      border-bottom: 1px solid #666666;
      border-left: 1px solid #111111;
      background: none;
      padding: 5px;
      font-size: 18px;
      color: white;
      outline: none; }
      div#header form#filter input.text.watermark {
        color: #999999; }
  div#header ul {
    float: right;
    margin: 28px 15px 0 15px;
    padding: 0;
    list-style: none; }
    div#header ul li {
      float: left;
      margin: 0;
      padding: 3px 6px;
      color: #666666;
      font-style: italic;
      border-right: 1px solid #444444; }
      div#header ul li.first {
        padding-left: 0;
        padding-right: 0;
        border-right: none; }
      div#header ul li.last {
        padding-right: 0;
        border-right: none; }
      div#header ul li a {
        font-style: normal;
        color: #888888;
        text-decoration: none; }
        div#header ul li a.active, div#header ul li a:hover {
          color: #dddddd;
          text-decoration: underline; }
