%div.intro

  %p
    Logophilia helps you discover trends on
    = link_to("wordnik.com", "http://wordnik.com") + "."
    You can browse words by how frequently they're looked up, 
    discussed, favorited, and listed.
    
  %p= link_to("Go &rarr;", words_path, :class => "loud")