

=# filter_summary

%div#words_container.scrollable
  %div#words
    = render :partial => "word", :collection => @words
        
/ <a class="prev browse left">prev</a>
/ <a class="next browse right">next</a>

= jumper @words

#footer
  = sort_menu